<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<h3 class="mt-4">Reviews</h3>
<% @reviews.each do |review| %>
  <div>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
  </div>
<% end %>

<%= link_to 'Add review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Back', restaurants_path %>